@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Resets e configurações gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', serif;
    background-color: #f9f4e1;
    color: #3a3a3a;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: white;
    text-align: center;
}

/* Containers e layouts */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-color: #4b3f35;
    padding: 20px 0;
    color: white;
    position: static;
}

.logo-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    max-width: 180px;
    margin: 0 auto;
    cursor: pointer;
    transition: .3s;
}

.logo img:hover {
    filter: drop-shadow(5px 5px 3.5px rgb(128, 115, 92));
    transform: scale(1.05);
}


/* Menu */
.menu ul {
    list-style: none;
    gap: 20px;
    display: flex;
    align-items: center;
}

.menu ul li {
    position: relative;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    transition: color 0.3s;
    position: relative;
}

.menu ul li a:hover,
.menu #logout:hover {
    color: #d4af37;
}
.menu #logout {
    cursor: pointer;
}
#mobile-header {
    display: none;
}

/* Dropdown */
.dropdown-menu {
    margin-top: 9px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #4b3f35;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: none;
    border-radius: 5px;
    width: 210px;
    z-index: 3;
}

.dropdown-menu a {
    color: #333;
    padding: 10px;
    text-decoration: none;
    display: block;
    font-size: 14px;
    border-bottom: 1px solid #eee;
    transition: 0.3s;
}

.dropdown-menu a:hover {
    background-color: #665d50;
    color: white;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

/* User Vector */
.header .user-vector {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header .user-vector #logo-vector {
    max-width: 50px;
}

.header .user-vector p {
    font-size: 12px;
}

#logout{
    max-width: 40px;
    margin-left: 20px;
}

@media (max-width: 768px) {
    /* MENU MOBILE */
    .header {
        display: none;
    }
    #mobile-logo {
        font-size: 1.5rem;
        font-weight: bold;
    }
    
    #btn-mobile {
        display: none;
    }
    
    /* Estilo para alinhar nome e tipo ao lado da imagem */
    .user-options {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    .user-options a {
        color: #fff;       
    }

    .user-vector {
        display: flex; /* Flexbox para alinhar a imagem e o texto horizontalmente */
    align-items: center; /* Alinha a imagem e o texto no centro verticalmente */
    gap: 0.5rem;
    }
    .user-vector a {
        display: flex;
        text-decoration: none;
        align-items: center;
    }
    .user-vector #logo-vector {
        max-width: 50px;
        border-radius: 50%;
        align-items: flex-start;
    }
    
    .user-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        margin-left: 0.5em;
    }
    
    .user-info p {
        font-size: 12px;
    }
    
    
    .logo {
        max-width: 150px;
        margin: 0 auto;
        cursor: pointer;
        transition: .3s;
    }
    
    #mobile-menu {
        display: flex;
        list-style: none;
        gap: 0.5rem;
        text-align: center;
        justify-content: center;
    }
    /* esconder e mostrar o menu em mobile */
    #mobile-menu {
        display: none;
    }
    
    #mobile-header {
        background: linear-gradient(135deg, #4b3f35, #3b2f25);
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 1rem;
        height: 70px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    }
    
    #btn-mobile {
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        align-items: center;
        justify-content: center;
    }

    #hamburger {
        border-top: 2px solid;
        margin-top: -10px;
        color: #fff;
        position: relative;
        width: 20px;
        height: 2px;
        justify-content: center;
        background-color: #fff;
        transition: all 0.3s ease-in-out;
    }

    #hamburger::after,
    #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
    }

    #nav.active #hamburger {
        border: #ffffff;
    }

    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }

    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }
    
    /* Menu expandido no mobile */
    #mobile-menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0;
        background: rgba(75, 63, 53, 0.95);
        color: #fff;
        transition: transform 0.4s ease-in-out;
        transform: translateY(-100%);
        visibility: hidden;
        opacity: 0;
        z-index: 1000;
    }
    
    #nav.active #mobile-menu {
        transform: translateY(0);
        visibility: visible;
        opacity: 1;
    }
    
    #mobile-menu a {
        display: block;
        padding: 1rem;
        color: #fff;
        text-align: center;
        text-decoration: none;
        font-weight: 600;
        transition: background 0.3s ease, color 0.3s ease;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    #mobile-menu #logout-mobile {
        margin-top: 10px !important;
        margin-bottom: 10px !important;
        background-color: rgba(255, 0, 0, 0.6) !important;
        border-radius: 20px !important;
        width: 30% !important;
        padding: 5px !important;
        display: flex !important;
        justify-content: center !important;
        margin-left: 135px !important;
    }
    
    #mobile-menu a:hover {
        background-color: rgba(255, 255, 255, 0.1);
        color: #ffb800;
    }
    
    /* Animação suave ao abrir e fechar o menu */
    #nav {
        transition: transform 0.4s ease;
    }
}
main {
    padding: 20px 0;
}

#pagetitle {
    text-align: center;
    margin: 30px 0;
    font-size: 20px;
}

.article-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    width: 100%;
}

article {
    flex: 1 1 300px;
    max-width: 280px;
    border-radius: 16px;
    background: rgb(247, 240, 224);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

article:hover {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

figure {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

article img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.article-body {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

article h2 {
    font-size: 21px;
    margin-bottom: 5px;
    color: #28666e;
    height: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    align-items: center;
    display: flex;
    justify-content: center;
}

article p {
    margin-bottom: 6px;
    font-size: 15px;
    margin-top: 5px;
    flex-grow: 1;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

.read-more {
    color: #28666e;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #eee;
}

.read-more:hover {
    color: #d4af37;
}

.atividadestitulo {
    text-align: center;
    margin: 30px 0;
    font-size: 20px;
}
.atividades_news{
    display: flex;
    gap: 15px;
    border-radius: 10px;
    border: 1px solid #ddd;
    padding: 20px;
    width: 85%;
    margin: 15px auto;
    background: rgb(249, 238, 218);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}
.atividades_title {
    flex: 1;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza o texto verticalmente */
    text-align: left;
    padding-right:10px; /* Distância do texto para a margem direita */
}
.atividades_title h3 {
    font-weight: bold;
    font-size: 1.8em;
    margin-bottom: 5px;
}

.atividades_title p {
    font-size: 1em;
    line-height: 1.6;
}

.linha-separadora {
    width: 100%;
    height: 2px;
    background-color: #000000;
    border: none;
    margin-bottom: 7px;

}
.conteudo-atividades {
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: flex-start; /* Alinea as imagens à esquerda */

}
.img-legend {
    width: 145px;
    text-align: center;
    margin-top: 25px;
}
.img-legend figcaption{
    font-weight: bold;
}

.img-container {
    position: relative;
}

.imagem {
    width: 120px;
    height: auto;
    border-radius: 5px; 
}
.opcoes {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    display: flex;
    flex-direction: column; 
    align-items: center;
    opacity: 0; 
    transition: opacity 0.3s ease; 
}

.img-container:hover .opcoes {
    opacity: 1; 
}
.img-container:hover .imagem {
    opacity: 0.2; 
}
.opcoes h3 {
    color: #3a3a3a; 
    font-size: 16px; 
    margin-bottom: 10px; 
}
.opcoes button,
.opcoes a {
    padding: 0px 15px;
    margin: 5px;
    border: none;
    background-color: #d4af37;
    color: white;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    font-size: 12px;
    box-sizing: border-box;
    text-align: center;
}

.opcoes a {
    display: inline-block;
}

.opcoes button:hover,
.opcoes a:hover {
    background-color: #b97604;
}
.atividades_pdf {
    border-radius: 10px;
    border: 1px solid #ddd;
    padding: 20px;
    width: 70%;
    margin: 15px auto;
    background: rgb(245, 231, 205);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px;
}

.atividades_pdf h2 {
    font-size: 24px;
    margin-bottom: 5px;
    position: relative;
    grid-column: span 4; 
}

.atividades_pdf h2::after {
    content: '';
    display: block;
    width: 50%;
    height: 2px;
    background: #333;
    margin: 5px auto 0;
}

.atividades_pdf .img-legend {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.atividades_pdf .imagem {
    width: 120px;
    height: auto;
    border-radius: 5px;
}

.atividades_pdf .img-legend figcaption {
    font-weight: bold;
    margin-top: 10px;
}
.footer {
    background-color: #4b3f35;
    padding: 30px 20px;
    text-align: center;
}

.footer #titulo {
    font-weight: 600;
    color: #f9f4e1;
    font-size: 18px;
    display: block;
    transition: .3s ease-in-out;
}

.footer #titulo:hover {
    color: #d4af37;
}

.footer a {
    color: white;
    transition: .3s ease-in-out;
    margin-left: 10px;
    margin-right: 10px;
}

.footer #link {
    margin-top: 10px;
    color: white;
}

.footer a:hover {
    color: #d4af37;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #f9f4e1;
}
#backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: rgb(197, 172, 127);
    color: black;
    border: none;
    border-radius: 50%;
    font-size: 30px;
    font-weight: bolder;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-90deg); /* Rota a seta para cima */
    padding-left: 0px;
    padding-bottom: 4px;
}

#backToTop:hover {
    opacity: 1;
    transform: scale(1.1) rotate(-90deg); 
}
/* Tablet */
@media (max-width: 768px) {
    .logo-menu {
        flex-direction: column;
        align-items: center;
    }

    .menu ul {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .header {
        padding: 20px;
    }

    .article-container {
        flex-direction: column;
        align-items: center;
    }

    article {
        max-width: 90%;
        margin-bottom: 20px;
    }

    .atividades_news {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .conteudo-atividades {
        flex-direction: column;
        align-items: center;
    }
}

/* Mobile */
@media (max-width: 480px) {
    .logo img {
        max-width: 120px;
    }

    .logo h1 {
        font-size: 20px;
        margin-left: 10px;
    }

    .menu ul li a {
        font-size: 14px;
        padding: 8px;
    }

    article {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .atividades_news {
        width: 100%;
        flex-direction: column;
        gap: 20px;
    }

    .img-legend {
        width: 100%;
    }
}
@media (max-width: 768px) {
    .atividades_pdf {
        display: none;
    }
    #remover-title{
        display: none;
    }
}

@media (max-width: 480px) {
    .atividades_pdf {
       display: none;
    }
    #remover-title{
        display: none;
    }
}

