/* Body principal */
main {
    padding: 40px 0;
    background-color: #fdf6e3;
}

h1 {
    font-size: 36px;
    color: #4b3f35;
    text-align: center;
    margin-bottom: 30px;
}

#intro, #overview, #division {
    text-align: center;
    font-size: 18px;
    color: #333;
    max-width: 900px;
    margin: 20px auto;
    line-height: 1.8;
}

main img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 30px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Civilizações */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown-list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.dropdown-list li {
    width: 100%;
    margin-bottom: 20px;
}

.dropdown-btn {
    width: 100%;
    background-color: #665d50;
    color: white;
    padding: 15px;
    text-align: left;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-btn:hover {
    background-color: #4b3f35;
}

.dropdown-btn::after {
    content: '\25BC'; /* Seta para baixo */
    font-size: 16px;
    transition: transform 0.3s ease;
}

.dropdown-btn.active::after {
    transform: rotate(180deg); /* Seta para cima */
}

.dropdown-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
    background-color: #f9f4e1;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-content h2 {
    font-size: 28px;
    color: #4b3f35;
    margin-bottom: 15px;
}

.dropdown-content h3 {
    font-size: 22px;
    color: #333;
    margin-bottom: 10px;
}

.dropdown-content h4 {
    font-size: 18px;
    color: #333;
    margin-bottom: 8px;
}

.dropdown-content p {
    font-size: 16px;
    color: #666;
    line-height: 1.6;
    margin-bottom: 10px;
}

.dropdown-content img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilo aberto do dropdown */
.dropdown-btn.active + .dropdown-content {
    max-height: 1500px; /* Permite espaço suficiente para conteúdo expandido */
}

/* Links dentro dos textos */
.dropdown-content a {
    color: #4b3f35;
    text-decoration: underline;
    transition: color 0.3s ease;
}

.dropdown-content a:hover {
    color: #d4af37;
}
