* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', serif;
    background-color: #f9f4e1;
    color: #3a3a3a;
    line-height: 1.6;
}


details {
    display: block; 
    width: auto;
    margin: 10px 0;
  }
  
  details p { 
    padding-left: 30px;
  }
  
  summary {
    display: flex; 
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%,   rgba(148,187,233,1) 100%);
    color: #fff;
    border-radius: 8px;
    padding: 5px;
    cursor: pointer;
    font-weight: 700;
    justify-content: flex-start;
    align-items: center;
  }
  
  summary::-webkit-details-marker {
     display: none;
  }
  
  summary:before {
     content: "+";
     font-size: 20px;
     font-weight: bold;
     margin: 0 5px;
     padding: 0;
     width: 20px;
     text-align: center;
  }
  
  details[open] summary:before {
    content: "-";
  }


footer {
    background-color: #4b3f35;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer p {
    margin-bottom: 10px;
}

.footer-menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-menu ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.footer-menu ul li a:hover {
    color: #d4af37;
}